
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    box-sizing: border-box;
    margin: 0px;
}

a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

body{
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.logo {
    padding: 16px;
    font-weight: bolder;
}

.header ul{
    display: flex;
    list-style: none;
    font-weight: bolder;
}

.header li{
    padding: 8px;
    text-transform: lowercase;
}

.hero {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    height: 70vh;
}

.hero-title{
    font-size: 48px;
    width: 400px;
    font-weight:900

}

.hero-subtitle{
    font-size: 20px;
    inline-size: 500px;

}

.hero-left{
    display:flex;
    flex-direction: column;
    margin-top: 5vh;
    gap:2vh;
}

.hero-btn{
    display:flex;
    flex-direction: column;
}

.hero-btn-class{
    align-self: flex-start;
    width: 100px;
    height: 50px;
    background-color: rgb(61,125,246);
    border: none;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.hero-right{
    background-color: gray;
    padding: 100px;
    text-align: center;
}

.first-page{
    background-color: rgb(33,41,54);
    color: white;
    height: 90vh;
}

.second-page{
    margin-top: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.wrapper-box{
    display:flex;
    gap: 10vh;
    max-width: 1000px;
    height: 40vh;
    
}

.box{
    height: 20vh;
    width: 20vh;
    border-radius: 7px;
    border: solid 3px rgb(61,125,246);
}

.box-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.box-legend{
    text-align: justify;
    text-align-last: center;
}

.third-page{
    background-color: rgb(229,231,235);
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-wrapper{
    display: flex;
    flex-direction: column;
}

.text-quote{
    margin-top: 10vh;
    font-size:36px;
    font-style: italic;
    color: #1F2937;
    inline-size: 1000px;
}

.text-author{
   align-self: flex-end;
   font-size: 20px; 
   font-weight: 900;
   color: #1F2937;
}

.forth-page{
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box{
    border-radius: 7px;
    border: solid 3px rgb(61,125,246);
    background-color: rgb(61,125,246);
    display: flex;
    width: 900px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.cta-wrapper{
    display: flex;
    gap: 50px;
    color: white;
}

.cta-text-bold{
    font-weight: bold;
}

.cta-text{
    font-weight: lighter;
}

.cta-btn{
    color: white;
    background-color: rgb(61,125,246);
    border: solid 1px white;
    padding: 10px;
    border-radius: 8px;
}